<IfModule mod_rewrite.c>
    RewriteEngine On

    # Jangan rewrite jika file atau folder sudah ada
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirect ke public folder
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
